
    <img src="http://icmeas.conf.mist.ac.bd/wp-content/uploads/2014/09/calschedule.jpg", 
    height="650px", width="1350px", align="center" >


    <footer class="navbar navbar-fixed-bottom navbar-center">
        <div class="container">
            <p>&copy; 2017 Likelion All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="https://uni.likelion.org">Likelion</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>