* {
  color: #666;
  font-family: "맑은 고딕", 돋움, tahoma;
  font-size: 12px;
  letter-spacing: -1px;
}

$main-color-blue: #91a7d0;
$main-color-pink: #f6cac9;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "timetables";
@import "home";
@import "nav";
@import "header";
@import "devise";