// Place all the styles related to the timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timetables-index {
  .timetable {
    table {
      margin: 10px auto;
      border-collapse: collapse;
      tr {
        th:nth-child(1) {
          width: 70px;
        }
        height: 20px;
      }
      td {
        border: 1px solid gray;
        text-align: center;
      }
      th {
        width: 120px;
        border: 1px solid black;
        text-align: center;
      }
    }
    .btn-cover {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: $main-color-blue;
      cursor: pointer;
      position: fixed;
      left: 200px;
      bottom: -50px;
      transition: all 0.8s;
      box-shadow: 0 0 10px #888888;
      z-index: 9;
      &:hover {
        background-color: $main-color-pink;
        transition: all 0.8s;
      }
      &.btn-add-selected {
        bottom: 450px;
      }
      #btn_add_lecture {
        transition: all 0.8s;
        position: relative;
        top: 20px;
        left: 20px;
        font-size: 15px;
        font-weight: bold;
        color: ghostwhite;
      }
    }
  }
  .lecture-area {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    z-index: 10;
    position: fixed;
    bottom: -500px;
    transition: all 0.8s;
    &.btn-add-selected {
      bottom: 0;
      transition: all 0.8s;
    }
    .categories-group {
      width: 350px;
      overflow-y: scroll;
      .category {
        padding: 2px 2px 2px 12px;
        font-size: 14px;
        border-bottom: 1px solid #eeeeee;
        &:hover {
          background-color: #eeeeee;
          cursor: pointer;
        }
        &.category-selected {
          background-color: #888888;
        }
      }
    }
    .lectures-group {
      overflow-y: scroll;
      flex: 1;
      .lecture-table {
        border-collapse: collapse;
        width: 100%;
        tr {
          display: flex;
          flex-direction: row;
          th, td {
            font-size: 13px;
            &:nth-child(1) {
              width: 70px;
              text-align: center;
            }
            &:nth-child(2) {
              width: 180px;
              flex: 2;
            }
            &:nth-child(3) {
              width: 50px;
              flex: 1;
              text-align: center;
            }
            &:nth-child(4) {
              width: 60px;
              text-align: center;
            }
            &:nth-child(5) {
              width: 40px;
              text-align: center;
            }
            &:nth-child(6) {
              width: 340px;
            }
            &:nth-child(7) {
              width: 120px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            &.lecture-hovered {
              background-color: #a7a7a7;
              cursor: pointer;
            }
            &.lecture-disabled {
              background-color: lightgrey;
              td {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .lecture-selected {
    cursor: pointer;
    &.lecture-selected-1 {
      background-color: #91a7d0;
    }
    &.lecture-selected-2 {
      background-color: #c0b7af;
    }
    &.lecture-selected-3 {
      background-color: #F6CAC9;
    }
    &.lecture-selected-4 {
      background-color: #b6ba99;
    }
    &.lecture-selected-5 {
      background-color: #af869a;
    }
    &.lecture-selected-6 {
      background-color: #648589;
    }
    &.lecture-selected-7 {
      background-color: #af9976;
    }
    &.lecture-selected-8 {
      background-color: #eb9587;
    }
    &.lecture-selected-9 {
      background-color: #e3eaa5;
    }
    &.lecture-selected-10 {
      background-color: #bd9bc0;
    }
    &.lecture-selected-11 {
      background-color: #ddbf5e;
    }
    &.lecture-selected-12 {
      background-color: #c3ddd6;
    }
    &.lecture-selected-13 {
      background-color: #609087;
    }
    &.lecture-selected-14 {
      background-color: #f4b794;
    }
  }
}
